<!DOCTYPE html>
<html>
  <head>
    <title>HueRestaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1><%= link_to "UpRestaurant", root_path %></h1>
    </div>
    <%= yield %>
  </body>
</html>
